<!DOCTYPE html>
<html>
	<head>
		<title>Users editor</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/styles/styles.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script type="text/javascript" src="scripts/app.js"></script>
		<script type="text/javascript" src="scripts/controllers/controller.js"></script>
		<script type="text/javascript" src="scripts/factories/factory.js"></script>
		<script type="text/javascript" src="scripts/factories/cns.factory.js"></script>
		<script type="text/javascript" src="scripts/filters/filters.js"></script>
		<script type="text/javascript" src="scripts/directives/cns.directives.js"></script>
	</head>
	<body ng-app="App">
		<div class="container" ng-controller="UsersController">
			<div class="row">
				<div class="col-lg-8">
					<h1>Data</h1>
				</div>
				<div class="col-lg-4">
					<h1>Users</h1>
					
					<form class="form-inline">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search" ng-model="search">
						</div>
						<div class="form-group">
							<input type="number" class="form-control" min="1" max="50" ng-model="itemsPagination.get().itemsPerPage" ng-change="itemsPagination.reinit()" style="width: 70px">
						</div>
						<div class="form-group" ng-if="items.trashCountItems() > 0" ng-click="items.showTrash()">
						<button ng-click="" type="button" class="close" aria-label="Trash"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> <span class="badge">{{items.trashCountItems()}}</span></button>
						</div>
					</form>
					<br>
					<div class="form-group">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8">
					<cns-pagination
						pagination="trashItemsPagination"
						pages="trashItemsPagination.get().pages"
						curpage="trashItemsPagination.get().curPage"
						counttrashitems="items.trashCountItems()"
						ng-if="items.trash()"></cns-pagination>
					<cns-user-trash
						items="items" filter="trashItemsPagination.get()" countries="countries" states="states"></cns-user-trash>
					<cns-user-edit
						user="items.getCurItem()" items="items" edit="items.edit()" ng-if="items.show()"
						countries="countries" states="states"></cns-user-edit>
				</div>
				<div class="col-lg-4">
					<cns-pagination-scroll-bar
						pagination="itemsPagination"
						pages="itemsPagination.get().pages"
						itemsperpage="itemsPagination.get().itemsPerPage"
						curpage="itemsPagination.get().curPage"></cns-pagination-scroll-bar>
					<ul class="list-group">
						<li class="list-group-item">&hellip;
						<button ng-click="items.add()" type="button" ng-class="{'user-new': items.new(), 'user-new': items.edit()}" class="close user-add" aria-label="Add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
						</li>
						<li class="list-group-item" ng-repeat="user in items.getItems() | filter: search | pagination: itemsPagination.get()"
							ng-click="items.setCurItem(user)" ng-class="{'user-disabled': items.edit(), 'user': !items.edit(), 'user-active': items.getCurItem().id == user.id}">
						{{user.name.last}} {{user.name.first}}
						<button ng-click="items.remove(user)" ng-if="!items.new() && !items.edit()" type="button" class="close user-remove" aria-label="Remove"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
						</li>
					</ul>
				</div>
			</div>
			
		</div>
	</body>
</html>
